<!-- Main Container -->
<div class="container-main">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom-blue">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img src="assets/images/logo/logo1.png" alt="Logo IBRA-TECH-COMPAGNY" height="60" class="d-inline-block align-text-top">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="/">Accueil <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/produits">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/activite">Activités</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/galerie">Galerie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/temoignage">Témoignages</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search">
          <button class="btn btn-secondary" type="submit">Recherche</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Router Outlet for Content -->
  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer class="bg-custom-blue text-white text-center py-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <address>
            <p>&copy; 2024 IBRA-TECH-COMPAGNY</p>
            <p>Siège social : SIG-MADINA</p>
            <p>Commune de  Matam/Conakry (GUINÉE)</p>
            <p>Contact : 624194241/664336547</p>
            <p>E-mail : <a href="mailto:ibratech.compagny2022&#64;gmail.com">ibratech.compagny2022&#64;gmail.com</a></p>
          </address>
        </div>
        <div class="col-12 col-md-5">
          <!-- Footer Menus -->
          <ul class="list-vertical">
            <li><a href="/">Accueil</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/produits">Produits</a></li>
            <li><a href="/activite">Activités</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/galerie">Galerie</a></li>
            <li><a href="/temoignage">Témoignages</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>
